<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project Monday</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" /> 
    <script src="https://unpkg.com/htmx.org@2.0.4"></script> 
    
    <style>
      footer {
        position: absolute;
        bottom: 0;
        width: 100vw;
      }

      @keyframes slideIn {
        from {
          transform: translateX(-100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }

      .slide-in {
        animation: slideIn 0.5s ease-out forwards;
      }
    </style>

    {% block style %}{% endblock style %}
  
  </head>
  <body>
    
    <header></header>
    
    <main class="section is-medium">
      <article class="container">
        {% block template %}{% endblock template %} 
      </article>
    </main>
  
    <footer class="footer">
      Contato arthur0139@gmail.com
    </footer>
  </body>
   
  <script>
    console.log("base rendered");
  </script>
  
  {% block script %}{% endblock script %}
</html>
