{% extends '_base.html' %}

{% block style %}
<link rel=""  />
{% endblock style %}

{% block template %}

<button
  class="button is-danger is-rounded"
  hx-post="{{url_for('index.randomizer')}}"
  hx-trigger="click"
  hx-target="#randomizer-renderer"
  hx-indicator="#randomizer-renderer-loading" 
  hx-swap="innerhtml">
  click
</button>

<div id="randomizer-renderer"></div>
<span id="randomizer-renderer-loading">loading</span>

{% endblock template %}

{% block script %}

{% endblock script %}
